@model DatingApp.Models.ViewModel
<script src="~/tabs/jquery.min.js"></script>

<link href="~/css/tabledesign.css" rel="stylesheet" />
@using Humanizer
<div>
</div>
<div class="row">
    <table class="table table-hover" style="cursor:pointer">
        <thead>
            <tr>
                <th style="width:40%">Message</th>
                <th style="width:20%">Form/To</th>
                <th style="width:20%">Sent/Received</th>
                <th style="width:20%"></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var message in Model.Message)
            {
                <tr data-username="@(Model.Container == "Outbox" ? message.RecipientUserName : message.SenderUserName)">
                    <td>@message.Content</td>
                    <td>
                        @if (Model.Container == "Outbox")
                        {
                            <div>
                                <img class="img-circle rounded-circle me-2"
                                     src="@(Model.Message != null ? message.RecipientPhotoUrl: "/image/sample_user_icon.png")"
                                     alt="Recipient Photo" />
                                <strong>@message.RecipientUserName</strong>
                            </div>
                        }
                        @if (Model.Container != "Outbox")
                        {
                            <div>
                                <img class="img-circle rounded-circle me-2"
                                     src="@(Model.Message != null ? message.SenderPhotoUrl: "/image/sample_user_icon.png")"
                                     alt="Recipient Photo" />
                                <strong>@message.SenderUserName</strong>
                            </div>
                        }
                    </td>

                    <td>
                        <strong>
                            @{
                                var timeDifference = DateTime.Now - message.MessageSent;
                                string formattedTime = timeDifference.Humanize();
                            }
                            @formattedTime
                        </strong>
                    </td>
                    <td>
                        <button class="btn btn-danger delete-button"
                                data-message-id="@message.Id">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@if (Model.Pagination != null)
{
    <div class="d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item @(Model.Pagination.CurrentPage == 1 ? "disabled" : "")">
                    <a class="page-link" href="#" onclick="loadPage(@(Model.Pagination.CurrentPage - 1))">Previous</a>
                </li>
                @for (var i = 1; i <= Model.Pagination.TotalPages; i++)
                {
                    <li class="page-item @(Model.Pagination.CurrentPage == i ? "active" : "")">
                        <a class="page-link" href="#" onclick="loadPage(@i)">@i</a>
                    </li>
                }
                <li class="page-item @(Model.Pagination.CurrentPage == Model.Pagination.TotalPages ? "disabled" : "")">
                    <a class="page-link" href="#" onclick="loadPage(@(Model.Pagination.CurrentPage + 1))">Next</a>
                </li>
            </ul>
        </nav>
    </div>
}

<script>
    function loadPage(page) {

        var jsonData = {
            Container: '@Model.Container',
            pageNumber: page
        };
        $.ajax({
            type: 'POST',
            url: '/Message/PartialViewMessage',
            data: JSON.stringify(jsonData),
            contentType: "application/json",
            success: function (response) {
                debugger
                $('#MessagesPartial').html(response);
            },
            error: function (xhr) {
                toastr.info(JSON.parse(xhr.responseText).error);
            }
        });
    }
</script>

<script>
    $(document).ready(function () {
        $('tbody tr').click(function () {
            var username = $(this).data('username');
            window.location.href = '/Matches/UserDetails?username=' + username + '&activetab=Messages';
        });
    });
</script>

<script>
    $(document).ready(function () {
        $('.delete-button').click(function () {
            var messageId = $(this).data('message-id');

            $.ajax({
                type: 'POST',
                url: '/Message/DeleteMeaasge?id=' + messageId,
                success: function (response) {
                    debugger
                    toastr.success('Message deleted successfully');
                },
                error: function (xhr) {
                    var errorMessage = xhr.responseText ? JSON.parse(xhr.responseText).error : 'Error deleting message';
                    toastr.error(errorMessage);
                }
            });
        });
    });
</script>
