@using Humanizer

@using System.Globalization


@model DatingApp.Models.ViewModel
@{
    ViewData["Title"] = "UserDetails";
}
<script src="~/tabs/jquery.min.js"></script>

<link href="/tabs/detailstabs.css" rel="stylesheet" />
<script src="/tabs/detailstabs.js"></script>

<link href="~/tabs/gallerie/css/h-smart-thumbnail.css" rel="stylesheet" />
<script src="~/tabs/gallerie/js/h-smart-thumbnail.js"></script>
<script src="~/tabs/gallerie/js/h-smart-thumbnail.min.js"></script>




<div class="row mt-4">
    <div class="col-3">
        <div class="card">
            <img src="@(Model.member.Photos != null ? Model.member.PhotoUrl : "/image/sample_user_icon.png")" alt="@Model.member.KnownAs" class="card-img-top img-thumbnail" />
            <div class="card-body">
                <div>
                    <strong>Location:</strong>
                    <p>@Model.member.City, @Model.member.Country</p>
                </div>
                <div>
                    <strong>Age:</strong>
                    <p>@Model.member.Age</p>
                </div>
                <div>
                    <strong>Last Active:</strong>
                    @{
                        var timeDifference = DateTime.Now - Model.member.LastActive;
                        string formattedTime = timeDifference.Humanize();
                    }

                    <p>@formattedTime ago</p>
                </div>

                <div>
                    <strong>Member Since:</strong>
                    <p>@Model.member.Created.ToString("MM-yy-yyyy", CultureInfo.InvariantCulture)</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="d-flex btn-group">
                    <button class="btn btn-primary">Like</button>
                    <button class="btn btn-success">Message</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">

        <div class="tabs-container">
            <div class="tabs">
                <div class="tab active" data-tab="@Model.member.KnownAs">About @Model.member.KnownAs </div>
                <div class="tab" data-tab="Interests">Interests</div>
                <div class="tab" data-tab="Photo">Photos</div>
                <div class="tab" data-tab="Messages">Messages</div>

            </div>
            <div id="@Model.member.KnownAs" class="tabcontent active">
                <strong style="text-decoration:underline">
                    Description
                </strong>
                <p>@Model.member.Introduction</p>
                <strong style="text-decoration:underline">
                    Looking For</strong>
                <p>@Model.member.LookingFor</p>

            </div>
            <div id="Interests" class="tabcontent">
                <strong>Interests</strong>
                <p>@Model.member.Interests</p>
            </div>
            <div id="Photo" class="tabcontent">

                <div class="example">
                    <ul>
                        @foreach (var photo in Model.member.Photos)
                        {
                            <li>
                                <img src="@photo.Url">
                            </li>
                        }
                    </ul>
                </div>


            </div>
            <div id="Messages" class="tabcontent">
                <Partial name="PartialViewMessageThread" />
            </div>
        </div>
    </div>


    <!--  JS for Photo gallery -->
    <script>
        $('.example').hSmartThumbnail();
    </script>

    <!-- #endregion -->
    <!   Js for Message---->
    <script>
        $(document).ready(function () {
            $('.tabs .tab[data-tab="Messages"]').one('click', function () {
                var userName = "@Model.member.KnownAs";
                $.ajax({
                    url: '/Message/PartialViewMessageThread?userName=' + userName,
                    type: 'GET',
                    success: function (data) {
                        $('#Messages').html(data);
                    },
                    error: function (xhr, status, error) {
                        var errorMessage = xhr.responseText ? JSON.parse(xhr.responseText).error : 'Error loading messages';
                        toastr.info(errorMessage);
                    }
                });
            });
        });

    </script>

    <script>
        $(document).ready(function () {
            $('.btn.btn-success').click(function () {
                var userName = "@Model.member.KnownAs";

                $('.tabcontent').removeClass('active');
                $('.tab').removeClass('active');

                
                $('#Messages').addClass('active');
                $('.tab[data-tab="Messages"]').addClass('active');

               
                $.ajax({
                    url: '/Message/PartialViewMessageThread?userName=' + userName,
                    type: 'GET',
                    success: function (data) {
                        $('#Messages').html(data);
                    },
                    error: function (xhr, status, error) {
                        var errorMessage = xhr.responseText ? JSON.parse(xhr.responseText).error : 'Error loading messages';
                        toastr.info(errorMessage);
                    }
                });
            });
        });
    </script>


    <script>
        $(document).ready(function () {
            var urlParams = new URLSearchParams(window.location.search);
            var activeTab = urlParams.get('activetab');

            if (activeTab === 'Messages') {
                $('.tab').removeClass('active');
                $('.tabcontent').removeClass('active');
                $('[data-tab="Messages"]').addClass('active');
                $('#Messages').addClass('active');
                $('.tabs .tab[data-tab="Messages"]').click();
               
            }
        });
    </script>

